/.git
/.github
/.husky
/.next
/.vscode
/assets/*
!/assets/README.md
/coverage
/node_modules
/scripts/*
!/scripts/build/postinstall.sh
!/scripts/build/prestart.sh
!/scripts/db/migrate.ts
/test-results

/.dockerignore
/.editorconfig
/.env
/.env.example
/.eslintrc
/.gitignore
/app.json
/docker-compose.dev.yml
/docker-compose.yml
/Dockerfile
/Procfile
/scalingo.json
/tsconfig.dev.json
/test-results.zip
