/.git
/.github
/.husky
/.next
/.vscode
/coverage
/node_modules
/scripts/*
!/scripts/db/migrate.js

/.dockerignore
/.env
/.env.example
/.eslintrc
/.gitignore
/docker-compose.dev.yml
/docker-compose.yml
/Dockerfile

/assets/*
!/assets/README.md
