{
  "extends": "@ivangabriele/eslint-config-typescript-react",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["/.next/", "/db/", "next-env.d.ts"],
  "plugins": ["formatjs"],
  "rules": {
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-underscore-dangle": "off",

    "@typescript-eslint/lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "@typescript-eslint/no-shadow": "off",

    "formatjs/enforce-default-message": "error",
    "formatjs/enforce-description": "error",
    "formatjs/enforce-id": "error",
    "formatjs/enforce-placeholders": "error",
    "formatjs/enforce-plural-rules": [
      "error",
      // https://formatjs.io/docs/tooling/linter/#available-rules-1
      {
        "few": false,
        "many": false,
        "one": true,
        "other": true,
        "two": false,
        "zero": false
      }
    ],
    "formatjs/no-camel-case": "error",
    "formatjs/no-complex-selectors": ["error", { "limit": 2 }],
    "formatjs/no-emoji": "error",
    "formatjs/no-multiple-plurals": "error",
    "formatjs/no-multiple-whitespaces": "error",
    "formatjs/no-offset": "error",

    "react/function-component-definition": "off",
    "react/prop-types": [
      "error",
      {
        "ignore": [
          "children",
          "className",
          "Component",
          "contentEditable",
          "dangerouslySetInnerHTML",
          "pageProps",
          "ref"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",

    "react-hooks/exhaustive-deps": "off"
  },
  "overrides": [
    {
      "files": ["./api/**/*.js", "./pages/api/**/*.js", "./scripts/**/*.js", "./api/**/*.ts", "./pages/api/**/*.ts"],
      "env": {
        "browser": false
      }
    },
    {
      "files": ["./api/models/**/*.js", "./api/models/**/*.ts"],
      "rules": {
        "sort-keys-fix/sort-keys-fix": "off"
      }
    },
    {
      "files": [
        "**/atoms/*.jsx",
        "**/blocks/*.jsx",
        "./pages/**/*.jsx",
        "**/atoms/*.tsx",
        "**/blocks/*.tsx",
        "./pages/**/*.tsx"
      ],
      "rules": {
        "react/jsx-props-no-spreading": "off"
      }
    },
    {
      "files": ["./pages/**/*.jsx", "./pages/**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    },
    {
      "files": ["**/*.test.js", "./e2e/**/*.js", "**/*.test.ts", "./e2e/**/*.ts"],
      "plugins": ["jest"],
      "env": {
        "browser": false,
        "jest": true,
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],

        "jest/no-disabled-tests": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "error",
        "jest/valid-expect": "error"
      }
    },
    {
      "files": ["./scripts/**/*.js"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    }
  ]
}
